@font-face {
    font-family: 'Clash Bold';
    src: url(../font/ClashDisplay-Bold.otf);
}

@font-face {
    font-family: 'Clash Semi';
    src: url(../font/ClashDisplay-Semibold.otf);
}
@font-face {
    font-family: 'Clash light';
    src: url(../font/ClashDisplay-Light.otf);
}

h1{
    font-family: 'Clash semi';
    color: #1A75BC;
}

h2{
    font-family: 'Clash semi';
    color: #1A75BC;
}

.status-success{
    background-color: #4EE075;
}
.btn-default-color{
    background-color: #1A75BC;
    color: white;
    font-family: Clash Semi;
}