@font-face {
    font-family: 'Clash Bold';
    src: url(../font/ClashDisplay-Bold.otf);
}
@font-face {
    font-family: 'Clash Semi';
    src: url(../font/ClashDisplay-Semibold.otf);
}
@font-face {
    font-family: 'Clash light';
    src: url(../font/ClashDisplay-Light.otf);
}

h3{
    font-family: 'Clash Semi';
    color: #1A75BC;
}

.btn-default-color{
    background-color: #1A75BC;
    font-family: 'Clash Semi';
}