@font-face {
    font-family: 'Clash Semi';
    src: url(../font/ClashDisplay-Semibold.otf);
}

h2{
    font-family: 'Clash Semi';
}

.title{
    color: #1A75BC;
}

.button{
    background-color: #1A75BC;
}