@font-face {
    font-family: 'Clash Bold';
    src: url(../font/ClashDisplay-Bold.otf);
}

@font-face {
    font-family: 'Clash Semi';
    src: url(../font/ClashDisplay-Semibold.otf);
}
@font-face {
    font-family: 'Clash light';
    src: url(../font/ClashDisplay-Light.otf);
}
body {
    font-family: sans-serif;
}

.form-control, .form-select{ 
    border-color: #646464;
    border-radius: 10px; 
}

.default-color{
    color: #1A75BC;
}

.btn-default-color{
    background-color: #1A75BC !important;
    color: white;
    font-family: 'Clash Semi';
    border-radius: 10px;
}

#submitButton{
    font-family: 'Clash Semi';
}

.btn-submit{
    color: #1A75BC;
}

h3,h1{
    font-family: 'Clash Semi';
    color: #1A75BC
}
.form-label{
    font-family: 'Clash Semi';
}
#navbar {
    background: #1A75BC;
    width: 100%; 
   
}