@font-face {
    font-family: 'Clash Bold';
    src: url(../font/ClashDisplay-Bold.otf);
}

@font-face {
    font-family: 'Clash Semi';
    src: url(../font/ClashDisplay-Semibold.otf);
}
@font-face {
    font-family: 'Clash light';
    src: url(../font/ClashDisplay-Light.otf);
}

h3{
    color: #EB5757;
    font-family: 'Clash Semi';
}