@font-face {
    font-family: 'Clash Bold';
    src: url(../font/ClashDisplay-Bold.otf);
}
@font-face {
    font-family: 'Clash Semi';
    src: url(../font/ClashDisplay-Semibold.otf);
}
@font-face {
    font-family: 'Clash light';
    src: url(../font/ClashDisplay-Light.otf);
}
body {
    font-family: sans-serif;
}
#hello {
    font-family: 'Clash Bold';
}
#resident-card {
    background-color: #1A75BC;
    color: white;
}
#resident-name {
    font-family: 'Clash Bold';
}
#resident-code {
    font-family: 'Clash light';
}
#resident-title {
    font-family: 'Clash light';
}
#title {
    font-family: 'Clash Bold';
}
#register-guest-btn {
    font-family: 'Clash Semi';
    background: #0099D0;
    color: white;
    border-radius: 30px;
}
#navbar {
    background: #1A75BC;
    width: 100%;
}